{% extends 'base.html' %}
{% block head_title %}Contact{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% if message %}
<div class="row">
	<div class="col-sm-12">
		<h1 class="text-align-center">{{ title }}</h1>
		<p class=" lead text-align-center">{{ message }}</p>
	</div>	
</div>

{% else %} 
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
				<h1 class="text-align-center">{{ title }}</h1>

		<form method="POST" action="">{% csrf_token %}

			{{ form|crispy }}
			<input class="btn btn-primary" type="submit" value="Submit"/>

		</form>
	</div>
</div>
{% endif %}
{% endblock %}